<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/preguntados/public/estilos/formulario.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil+Text:wght@100..900&family=Honk&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Stick+No+Bills:wght@800&display=swap"
          rel="stylesheet">

</head>
<body id="bodyInicioSesion">
<div class="contenedorIngreso margin-topDoble">
    <h3 class="tituloInicio">INGRESAR</h3>
    <div class="ingreso-formulario">
        <form action='/preguntados/iniciarSesion/validar' method='post'>
            <input type='text' name='usuario' placeholder='Usuario' required autocomplete="off" class="input">
            <input type='password' name='contraseña' placeholder='Contraseña' required autocomplete="off" class="input">
            <br> <br> <input type='submit' value='Ingresar' class="boton registro">
        </form>
    </div>
</div>

<a href="/preguntados/registrar/mostrarPantallaRegistrar" class="boton-margen">Registrate</a>
{{#showErrorUsuario}}
    <div class="error">Nombre de usuario o contraseña incorrectos</div>
{{/showErrorUsuario}}
<div>
    {{#validacion}}
        <div class="msjExito">¡Validación realizada con éxito!</div>
    {{/validacion}}
</div>
</body>
</html>
